body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:319px;
  height:480px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:268px;
  top:269px;
  width:34px;
  height:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:9px;
  top:370px;
  width:311px;
  height:129px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:129px;
}
#u8 {
  position:absolute;
  left:2px;
  top:56px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:9px;
  top:445px;
  width:35px;
  height:35px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:80px;
  width:282px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:70px;
  top:420px;
  width:140px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:480px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u14 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:33px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:144px;
  top:9px;
  width:19px;
  height:15px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:80px;
  top:452px;
  width:200px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:154px;
  top:449px;
  width:10px;
  height:28px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u22 {
  position:absolute;
  left:32px;
  top:456px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:223px;
  top:458px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:452px;
  width:154px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:164px;
  top:452px;
  width:154px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:91px;
  top:177px;
  width:155px;
  height:113px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:113px;
}
#u29 {
  position:absolute;
  left:2px;
  top:48px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
