/**
 * 日期选择器样式
 *
 * @author mingxin.huang
 * @update 2015.06.13
 */

.datepicker-area {
    width: 100%;
}

.datepicker-area .datepicker-title {
    height: 80px;
    line-height: 80px;
    color: #FFF;
    text-align: center;
}

.datepicker-area .datepicker-title-select {
}

.datepicker-area .datepicker-title-select span {
    display: inline-block;
    float: left;
    text-align: center;
}

.datepicker-area .datepicker-title-select .datepicker-nav {
    width: 98px;
    border-right: 2px solid #1995dc;
}

.datepicker-area .datepicker-title-select .datepicker-nav:last-child {
    border-right: none;
    border-left: 2px solid #1995dc;
}

.datepicker-area .datepicker-title-select .datepicker-month {
    width: 520px;
}

.datepicker-area table {
    width: 100%;
}

.datepicker-area thead {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #DDD;
}

.datepicker-area tbody {
    
}

.datepicker-area tbody td {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
    border: 2px solid #DDD;
    text-align: right;
}

.datepicker-area tbody td i {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.datepicker-area .date-selected {
    position: relative;
    color: #FFF;
}

.datepicker-area .date-selected-blue {
    background-color: #62D7FF;
}

.datepicker-area .date-selected-green {
    background-color: #73A839;
}

.datepicker-area .date-selected-orange {
    background-color: #DD5600;
}

.datepicker-area .date-selected-red {
    background-color: #E1363C;
}