<% var kd = require("models/kd"), core = require("base/core"), parent = kd.get(data.parent_id), child = kd.get(data.child_id); %>
<div class="reminder-time fa-sz-2x">
    <span>提醒时间：<%=data.alarm%></span>
    <% if (!kd.isTeacher()) { %>
        <i class="fa fa-trash fa-2x"></i>
    <% } %>
</div>
<div class="reminder-content fa-sz-2x clearfix">
    <div class="reminder-content-left">
        <a href="#user/<%=data.child_id%>" class="ava ava-sm">
            <img src="<%=core.getAvatar(data.child_id)%>" alt="" />
        </a>
        <span class="<%=child.sex === 0 ? "color-pink" : "color-blue"%>"><%=child.name + kd.getCall(parent.relation)%></span>
    </div>
    <div class="reminder-content-right">
        <p class="reminder-title"><%=data.title%></p>
        <% if (data.audit >= 1) { var reader = data.readers[0], teacher = kd.get(reader.teacher_id); %>
            <p class="reminder-tips"><%=core.getTime(reader.ts*1000)%> <%=teacher.name%> 已阅</p>
        <% } else { %>
            <% if (kd.isTeacher()) { %>
                <a href="javascript:;" class="btn btn-primary">知道了</a>
            <% } %>
        <% } %>
    </div>
</div>