body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:320px;
  height:549px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:549px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:47px;
  top:32px;
  width:200px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:37px;
  width:99px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:150px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:121px;
  top:150px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:220px;
  top:150px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:20px;
  top:250px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:121px;
  top:250px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:10px;
  top:80px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:220px;
  top:250px;
  width:80px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:22px;
  top:350px;
  width:170px;
  height:83px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:83px;
}
#u14 {
  position:absolute;
  left:2px;
  top:34px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:220px;
  top:350px;
  width:90px;
  height:100px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
