<%var core = require("base/core"), kd = require("models/kd"), child = kd.get(data.child_id); %>
<div class="checkin-list-left">
    <div class="ava ava-sm">
        <img src="<%=core.getAvatar(data._id)%>" alt="" />
    </div>
    <span class="fa-sz-20 <%=child.sex === 0 ? "color-pink" : "color-blue"%>"><%=child.name%></span>
</div>
<div class="checkin-list-right">
    <div class="checkin-info-area fa-sz-24">
        <p><span>类型</span>: <%=data.reasonTip%></p>
        <% if (data.reason !== 0 && data.parent_id) { var parent = kd.get(data.parent_id), teacher = data.teacher_id ? kd.get(data.teacher_id) : null; %>
            <p><span>原因</span>: <%=data.title%></p>
            <p><span>请假人</span>: <%=kd.getCall(parent.relation)%></p>
            <p class="checkin-info-tip"><%=core.getTime(data.ts*1000)%> <%=teacher.name%> 审批</p>
        <% } %>
    </div>
</div>
<i class="fa fa-trash-o fa-4x"></i>