body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:319px;
  height:460px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:460px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1px;
  top:1px;
  width:319px;
  height:389px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:389px;
}
#u4 {
  position:absolute;
  left:2px;
  top:186px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:82px;
  top:30px;
  width:200px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:82px;
  top:30px;
  width:33px;
  height:15px;
  color:#009900;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:82px;
  top:151px;
  width:178px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:15px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:82px;
  top:151px;
  width:71px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:82px;
  top:275px;
  width:178px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:15px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:82px;
  top:275px;
  width:71px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:3px;
  top:421px;
  width:35px;
  height:35px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:112px;
  top:425px;
  width:115px;
  height:33px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:148px;
  top:431px;
  width:40px;
  height:19px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:142px;
  top:434px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:112px;
  top:421px;
  width:115px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:460px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:318px;
  height:459px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:459px;
}
#u27 {
  position:absolute;
  left:2px;
  top:222px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:190px;
  width:260px;
  height:110px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:110px;
}
#u29 {
  position:absolute;
  left:2px;
  top:47px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:6px;
  top:215px;
  width:230px;
  height:57px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:57px;
}
#u31 {
  position:absolute;
  left:2px;
  top:20px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:11px;
  top:194px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:10px;
  top:272px;
  width:299px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:282px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:299px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:11px;
  top:140px;
  width:298px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:10px;
  top:292px;
  width:118px;
  height:13px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:10px;
  top:315px;
  width:145px;
  height:87px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:87px;
}
#u40 {
  position:absolute;
  left:2px;
  top:36px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:460px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:2px;
  top:1px;
  width:318px;
  height:459px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:459px;
}
#u42 {
  position:absolute;
  left:2px;
  top:222px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
