body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:7px;
  top:66px;
  width:53px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:17px;
  top:150px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:118px;
  top:150px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:213px;
  top:150px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:17px;
  top:260px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:118px;
  top:260px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:213px;
  top:260px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:118px;
  top:380px;
  width:80px;
  height:95px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:95px;
}
#u10 {
  position:absolute;
  left:2px;
  top:40px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:219px;
  top:380px;
  width:73px;
  height:95px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:95px;
}
#u12 {
  position:absolute;
  left:2px;
  top:40px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:17px;
  top:380px;
  width:80px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
