<% if (data.isSelect) { %>
    <div class="datepicker-title bg-blue fa-sz-30 datepicker-title-select">
        <span class="datepicker-nav" data-action="prev"><i class="fa fa-chevron-left"></i></span>
        <span class="datepicker-month">
            <%=data.titlePrefix ? data.titlePrefix : ""%> <%=data.title ? data.title : data.month%>
        </span>
        <span class="datepicker-nav" data-action="next"><i class="fa fa-chevron-right"></i></span>
    </div>
<% } else { %>
    <div class="datepicker-title bg-blue fa-sz-30">
        <%=data.titlePrefix ? data.titlePrefix : ""%> <%=data.title ? data.title : data.month%>
    </div>
<% } %>
<table class="fa-sz-24">
    <thead>
        <tr>
            <th>日</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0, l = data.dayCount+data.firstDay; i < l; i+=7) { %>
            <tr>
                <% for (var j = i; j < i+7 && j < l; j++) { %>
                    <% var day = j >= data.firstDay ? (j-data.firstDay+1) : ""; %>
                    <% if (day) { var isSelected = data.selectedDays.indexOf(day) > -1; %>
                        <td class="td-day-<%=day%> <%= isSelected? "date-selected" : ""%>" data-day="<%=day%>">
                            <%=day%>
                        </td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>