/**
 * 基础css样式
 */

* {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}

a {text-decoration: none;}

html, body {
    width: 100%;
    height: 100%;
    background-color: #DDD;
    overflow: hidden;
    color: #666;
    font: 12px/1.5 'Microsoft YaHei UI','Microsoft YaHei','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}

/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*字体icon相关样式*/
.fa-white {
    color: #FFF;
}
.fa-sz-20 {
    font-size: 20px;
}
.fa-sz-24 {
    font-size: 24px;
}
.fa-sz-30 {
    font-size: 30px;
}
.fa-sz-40 {
    font-size: 40px;
}
.fa-sz-60 {
    font-size: 60px;
}

/*各颜色值*/
.color-blue {
    color: #2fa4e7;
 }
.color-green {
    color: #73a839;
 }
.color-deep-blue {
    color: #033c73;
 }
.color-orange {
    color:  #dd5600;
 }
.color-red {
    color: #c71c22;
 }
.bg-blue {

    background-color: #2fa4e7;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);

}

/*按钮样式*/
.btn {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #555555;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-repeat: no-repeat;
    border-bottom: 1px solid #e6e6e6;
}
.btn-primary {
    color: #ffffff;
    background-color: #2fa4e7;
    border-color: #2fa4e7;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    border-bottom: 1px solid #178acc;
}
.btn-success {
    color: #ffffff;
    background-color: #73a839;
    border-color: #73a839;
    background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88c149), color-stop(60%, #73a839), to(#699934));
    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    background-repeat: no-repeat;
    border-bottom: 1px solid #59822c;
}
.btn-info {
    color: #ffffff;
    background-color: #033c73;
    border-color: #033c73;
    background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #033c73), to(#02325f));
    background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
    background-repeat: no-repeat;
    border-bottom: 1px solid #022241;
}
.btn-warning {
    color: #ffffff;
    background-color: #dd5600;
    border-color: #dd5600;
    background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6707), color-stop(60%, #dd5600), to(#c94e00));
    background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-repeat: no-repeat;
    border-bottom: 1px solid #aa4200;
}
.btn-danger {
    color: #ffffff;
    background-color: #c71c22;
    border-color: #c71c22;
    background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e12b31), color-stop(60%, #c71c22), to(#b5191f));
    background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-repeat: no-repeat;
    border-bottom: 1px solid #9a161a;
}

/*全局样式*/
#app-wrap {
    position: relative;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    background-color: #FFF;
    overflow: hidden;
 }
#app-wrap > section {
    position: absolute;
    left: 720px;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
 }
#app-wrap .show-app-view,
#app-wrap .app-view-index {
    left: 0;
}
#app-wrap .app-view-nav-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    text-indent: -100px;
}
#app-wrap .app-view-nav-bar a {
    float: left;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-right: 1px solid #1995dc;
    font-style: normal;
    text-indent: 0;
    cursor: pointer;
}
#app-wrap .app-view-content {
    height: 100%;
    background-color: #F5F5F5;
    overflow: scroll;
}