/**
 * 老师考勤页面样式
 *
 * @author mingxin.huang
 * @update 2015.06.05
 */

.app-view-checkin {

}

.app-view-checkin .common-ul {
    padding: 0 0 200px;
}

.app-view-checkin > .app-view-content {
    overflow: hidden;
}

/*内容区域样式*/
.checkin-content-panel.show-vocate .checkin-panel-today {
    margin-left: -720px;
}

.checkin-content-panel.show-report .checkin-panel-today {
    margin-left: -1440px;
}

.checkin-content-panel.show-report .checkin-panel-vocate {
    margin-left: -720px;
}

/*今日考勤部分样式*/
.checkin-panel-today {
    
}

.checkin-panel-today .date-picker-area {
    height: 60px;
    margin: 20px;
    background-color: #FFF;
}

.checkin-panel-today .date-picker-area input {
    width: 300px;
    height: 60px;
    line-height: 60px;
    border-bottom: none;
    margin: 0 0 0 20px;
}

.checkin-panel-today .date-picker-area i {
    float: right;
    line-height: 60px;
    margin: 0 20px 0 0;
}

.checkin-panel-today li {
    position: relative;
}

.checkin-panel-today li .fa-trash-o {
    position: absolute;
    right: 10px;
    top: 10px;
}

.checkin-panel-today .checkin-list-left {
    float: left;
    margin: 0 20px 0 0;
}

.checkin-panel-today .checkin-list-left span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 10px 0 0;
}

.checkin-panel-today .checkin-list-right {
    float: left;
    width: 520px;
}

.checkin-panel-today .checkin-list-right p {
    height: 36px;
    line-height: 36px;
}

.checkin-panel-today .checkin-list-right .checkin-info-tip {
    text-align: right;
}

.checkin-panel-today .checkin-list-right span {
    float: left;
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: justify;
}

.checkin-panel-today .checkin-list-right span:after {
    content: "";
    display: inline-block;
    width: 100%;
}

/*请假审核样式*/
.checkin-panel-vocate {

}

.checkin-panel-vocate .vocate-passed {
    color: #999;
}

.checkin-panel-vocate .vocate-list-left {
    float: left;
    margin: 0 20px 0 0;
}

.checkin-panel-vocate .vocate-list-left span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 10px 0 0;
}

.checkin-panel-vocate .vocate-list-right {
    float: left;
    width: 520px;
}

.checkin-panel-vocate .vocate-list-right .vocate-tip {
    text-align: right;
}

.checkin-panel-vocate .vocate-list-right span {
    display: inline-block;
}

.checkin-panel-vocate .vocate-list-right .vocate-time {
    float: right;
}

.checkin-panel-vocate .vocate-list-right .label {
    float: left;
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: justify;
}

.checkin-panel-vocate .vocate-list-right .label:after {
    content: "";
    display: inline-block;
    width: 100%;
}

/*考勤报告样式*/
.checkin-panel-report {

}

.report-month-select-area {
    width: 680px;
    height: 70px;
    line-height: 70px;
    margin: 20px;
}

.report-month-select-area span {
    float: left;
    height: 70px;
    line-height: 70px;
    background-color: #FFF;
    text-align: center;
}

.report-month-select-area .select-arrow {
    width: 60px;
}

.report-month-select-area .select-month {
    width: 550px;
    margin: 0 5px;
}

.checkin-panel-report ul {
    margin: 20px;
    padding: 0 0 200px;
}

.checkin-panel-report li {
    height: 80px;
    line-height: 80px;
    padding: 10px;
}

.checkin-panel-report li:nth-child(odd) {
    background-color: #FFF;
}

.checkin-panel-report li > * {
    float: left;
}

.checkin-panel-report li .ava {
    margin: 0 20px 0 0;
}

.checkin-panel-report li .absence-count,
.checkin-panel-report li .fa-chevron-right {
    float: right;
    margin: 0 0 0 10px;
}

.checkin-panel-report li .fa-chevron-right {
    margin-top: 28px;
}

/*添加考勤样式*/
.app-view-checkin-add ul {
    padding: 0 0 150px;
}

.app-view-checkin-add li {
    float: left;
    position: relative;
    padding: 20px 30px;
    outline: 1px solid #EFEFEF;
}

.app-view-checkin-add li .fa-check {
    position: absolute;
    display: none;
    right: 5px;
    top: 5px;
}

.app-view-checkin-add .selected .fa-check {
    display: block;
}

.app-view-checkin-add li span {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
}


/*详细页样式*/
.app-view-detail {

}

.app-view-detail .detai-tip-area {
    margin: 20px 0;
}

.app-view-detail .detai-tip-area span {
    float: left;
    margin: 0 0 0 20px;
}

.app-view-detail .detail-info-area {
    padding: 20px;
}

.app-view-detail .app-view-nav-bar a {
    width: 100%;
}