/**
 * 提醒页面样式
 */

.app-view-reminder {}

.app-view-reminder .common-ul {}
.app-view-reminder .common-ul li {
    width: 680px;
    padding: 0;
}
.app-view-reminder .common-ul .reminder-readed {
    color: #999;
}

.reminder-time {
    height: 60px; 
    line-height: 60px;
    text-indent: 20px;
    border-bottom: 1px solid #DDD;
}

.reminder-time i {
    float: right;
    margin: 6px 20px 0 0;
}

.reminder-content {padding: 20px;}
.reminder-content .reminder-content-left {
    float: left;
    width: 100px;
    margin: 0 10px 0 0;
    text-align: center;
}
.reminder-content .reminder-content-left span {

}
.reminder-content .reminder-content-right {
    float: left;
    width: 530px;
}
.reminder-content .reminder-content-right .reminder-title {
    min-height: 100px;
    line-height: 30px;
}
.reminder-content .reminder-content-right .reminder-tips {
    text-align: right;
}
.reminder-content .reminder-content-right a {
    float: right;
}

/*家长新建样式*/

.app-view-reminder-add {
    
}

.app-view-reminder-add .app-view-content {
    padding: 20px;
}

.app-view-reminder-add ul {
    margin: 0 0 20px;
}

.app-view-reminder-add li {
    float: left;
    position: relative;
    margin: 0 20px 0 0;
}

.app-view-reminder-add li i {
    position: absolute;
    display: none;
    right: -10px;
    top: -10px;
}

.app-view-reminder-add .selected i {
    display: block;
}

.app-view-reminder-add input {
    margin: 0 0 20px;
}

.app-view-reminder-add textarea {
    height: 300px;
}