<% var core = require("base/core"), kd = require("models/kd"); %>
<ul class="clearfix">
    <% for (var i = 0, l = data.pics.length; i < l; i++) { %>
        <li data-key="<%=data.pics[i]%>">
            <i class="fa fa-spinner fa-spin fa-white fa-5x"></i>
            <img src="<%=core.getImg(data.pics[i], "m")%>" alt="" />
            <div class="album-pic-handle-area">
                <% if (kd.isTeacher() && kd.isSelf(data.teacher_id)) { %>
                    <a href="javascript:;" class="btn btn-danger">删除图片</a>
                <% } else { %>
                    <a href="javascript:;" class="btn btn-primary"><i class="fa fa-star-o"></i>收藏到宝贝相册</a>
                <% } %>
            </div>
        </li>
    <% } %>
</ul>
<span class="album-preview-pagin fa-sz-24"><%=data.currIndex+1%> / <%=data.pics.length%></span>
<i class="fa fa-arrow-up fa-white fa-3x"></i>