<% var core = require("base/core"), kd = require("models/kd"); %>
<ul class="clearfix">
    <% for (var i = 0, l = data.pics.length; i < l; i++) { var pic = data.pics[i], key = pic.pkey || pic; %>
        <li data-key="<%=key%>">
            <i class="fa fa-spinner fa-spin fa-white fa-5x"></i>
            <img src="<%=core.getImg(key, "m")%>" alt="" />
            <div class="album-pic-handle-area">
                <% if (data.type === "teacher") { %>
                    <a href="javascript:;" class="btn btn-danger btn-del-pic">删除图片</a>
                <% } else if (data.type === "parent") { %>
                    <a href="javascript:;" class="btn btn-primary btn-collect"><i class="fa fa-star-o"></i>收藏到宝贝相册</a>
                <% } else { %>
                    <a href="javascript:;" class="btn btn-primary btn-cancel-collect"><i class="fa fa-star"></i>取消收藏</a>
                <% } %>
            </div>
        </li>
    <% } %>
</ul>
<span class="album-preview-pagin fa-sz-2x"><%=data.currIndex+1%> / <%=data.pics.length%></span>
<i class="fa fa-arrow-up fa-white fa-3x"></i>